name: E2E Test

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
  workflow_dispatch:

jobs:
  e2e_test:
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-latest ]
        dotnet-version: [ '7.0', '8.0', '9.0' ]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch || github.ref_name }}
      - uses: actions/setup-dotnet@v5
        id: setup-dotnet
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      # Test with ReSharper 2023.x
      - uses: ./
        with:
          solutionPath: TestSolution/TestSolution.sln
          failOnIssue: '0'
          minimumReportSeverity: 'WARNING'
          dotnetVersion: ${{ steps.setup-dotnet.outputs.dotnet-version }}
          version: '2023.3.6'
      # Test with latest ReSharper
      # Reproduce second time execution on self-hosted runner
      - uses: ./
        with:
          solutionPath: TestSolution/TestSolution.sln
          failOnIssue: '0'
          dotnetVersion: ${{ steps.setup-dotnet.outputs.dotnet-version }}
