name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
#    branches:
#      - main
#      - 'releases/*'

jobs:
  lint_unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm install
      - run: |
          npm run all
  e2e_test:
    uses: ./.github/workflows/reusable-e2e.yml
